<template class='task-template'>
	<div>
		<form id='region-form' name='region-form'>
			<fieldset>
				<legend>Regions</legend>
				<div>
					<input type="checkbox" id="us-east-1" name="region" value="us-east-1">
					<label for="us-east-1">us-east-1</label>
				</div>
				<div>
					<input type="checkbox" id="us-east-2" name="region" value="us-east-2">
					<label for="us-east-2">us-east-2</label>
				</div>
			</fieldset>
			<fieldset>
				<legend>Type</legend>
				<div>
					<select id="parameter-type-region" name="type">
						<option value="String" selected>String</option>
						<option value="StringList">StringList</option>
						<option value="SecureString">SecureString</option>
					</select>
				</div>

			</fieldset>
			<button type="submit">Save</button>
		</form>
	</div>
</template>
