// Customize the look and feel of the grid with Sass variables
// Up-to-date list of variables is available in the source code: https://github.com/ag-grid/ag-grid/blob/latest/src/styles/theme-fresh.scss
// Temporary, due to bug in 17.0.0. should use only $icons-path:  "~ag-grid/src/styles/material-icons/"
$icons-path: "../../../node_modules/ag-grid/src/styles/icons/";
$ag-mat-icons-path: "../../../node_modules/ag-grid/src/styles/material-icons/";
// changes the border color
// Changes the font size
$font-size: 21px;
$row-height: 60px;
$header-height: 60px;
$foreground-color: #DCE1E0 !default;
$background-color: rgba(0, 0, 0, 0.0);
$odd-row-background-color: $background-color;
$border-color: $background-color;
$header-background-color: $background-color;
$secondary-font-family: "Open Sans";
$secondary-font-size: 14px;
$secondary-font-weight: 600;
$secondary-foreground-color: #C4C8C8;
$hover-color: #748DAB;
$ag-range-selected-color-1: #748DAB;
$range-selection-background-color: #748DAB;
$range-selection-highlight-color: #748DAB;
$selected-color: #748DAB;
$icon-color: #C4C8C8;
$alt-icon-color: #C4C8C8;
//$accent-color:white !default;
// Changes the font family
$font-family: "Source Sans Pro",
sans-serif;
// Reverts the cell horizontal padding change between ag-fresh and ag-theme-fresh
// $cell-horizontal-padding: 2px;
// changes the default icon color
//$icon-color: #303f9f;
// changes the selected checkbox color
//$accent-color: #ffa000;
@import "../../../node_modules/ag-grid/src/styles/ag-grid.scss";
@import "../../../node_modules/ag-grid/src/styles/ag-theme-balham.scss";
// for example purposes, remove margin and padding of the grid
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.ag-icon-checkbox-checked {
	background-image: url('../images/boxchecked.svg') !important;
	background-size: 20px 20px !important;
	height: 20px !important;
	width: 20px !important;
	top: 4px !important;
}

.ag-icon-checkbox-unchecked {
	background-image: url('../images/box.svg') !important;
	background-size: 20px 20px !important;
	height: 20px !important;
	width: 20px !important;
	top: 4px !important;
}
